.about-section {
  background: #519e8a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  font-family: "Josefin Sans", sans-serif;
  min-height: 80vh;
}

.skills-container {
  height: 95px;
  width: 100vw;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  
}

.skills-container img {
  height: 110px;
  margin: 20px;
}

.bio-container {
  margin: 10vh 0 10vh 0;
  max-width: 600px;
}

.bio-container p {
  width: 95%;
  margin: auto;
  text-align: justify;
  word-break: keep-all;
  font-size: 1.4rem;
  font-weight: 600;
}

.bio-container img {
  width: 200px;
  height: 200px;
  border: 10px #f1f1f1 solid;
  float: right;
  margin: 0px 10px 5px 10px;
}

.skill-list {
  margin: 10vh 0 10vh 0;
  font-size: 1.5rem;
  line-height: 2rem;
  list-style: none;
  text-align: right;
  border-right: 1px #1f1f1f solid;
  padding: 10px;
  overflow: hidden;
}

@media (max-width: 480px) {
  .skills-container {
    justify-content: space-around;
  }
  .skills-container img {
    margin: 0;
  }

  .skill-list {
    margin: 0;
    text-align: center;
  }

  .skill-list li {
    display: inline-block;
    padding: 5px;
  }

  .bio-container{
      margin-top: 5vh;
  }
}
