.ContactSection{
    background: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 0 20vh 0;
}

.ContactContainer{
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ContactTab{
    height: 10vh;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;

}

.ContactTab a{
    text-decoration: none;
    color: #f1f1f1;
}

.ContactTab img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}